@combocurve:registry=https://us-npm.pkg.dev/main-combocurve/combocurve/
//us-npm.pkg.dev/main-combocurve/combocurve/:always-auth=true
@bryntum:registry=https://npm.bryntum.com/
//npm.bryntum.com/:always-auth=true