// This colors are used in mixins and scss functions, so they should be scss variables

$dark-text-color: #fff;
$dark-text-color-secondary: rgba(255, 255, 255, 0.7);
$dark-background: #242426;
$dark-background-opaque: #343434;

$light-text-color: rgba(0, 0, 0, 0.87);
$light-text-color-secondary: rgba(0, 0, 0, 0.54);
$light-background: #f5f5f5;
$light-background-opaque: #eee;
