{
	"presets": ["@babel/preset-typescript", ["@babel/preset-env", { "targets": { "node": "current" } }]],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@lib": "./lib",
					"@src": "./src",
					"@test": "./test"
				}
			}
		],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		"@babel/plugin-proposal-class-properties"
	],
	"sourceMaps": "inline",
	"retainLines": true
}
