{
	"extends": ["prettier", "eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:jest/recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier", "import", "jest"],
	"env": {
		"node": true,
		"jest/globals": true
	},
	"rules": {
		"@typescript-eslint/no-unused-expressions": ["error"],
		"@typescript-eslint/no-unused-vars": ["error"],
		"sort-imports": [
			"error",
			{
				"ignoreCase": true,
				"allowSeparatedGroups": true
			}
		],
		"jest/expect-expect": "off",
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-unreachable": ["error"],
		"no-tabs": ["off"],
		"no-console": ["error", { "allow": ["warn", "error"] }],
		"curly": ["error", "all"],
		"complexity": ["error", { "max": 10 }],
		"linebreak-style": ["off"],
		"prefer-destructuring": ["error", { "array": false, "object": true }],
		"import/prefer-default-export": "off",
		"import/no-commonjs": ["error"],
		"import/order": [
			"error",
			{
				"pathGroups": [
					{
						"pattern": "@src/**",
						"group": "parent",
						"position": "before"
					}
				],
				"newlines-between": "always",
				"groups": [["external", "builtin"], "parent", "sibling", "internal", "object"]
			}
		],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"ts": "never",
				"js": "never"
			}
		]
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts"]
		},
		"import/resolver": {
			"babel-module": {
				"root": ["./"],
				"extensions": [".ts", ".js"],
				"alias": {
					"@lib": "./lib",
					"@src": "./src",
					"@test": "./test"
				}
			}
		}
	}
}
