# Ignore all files and then explicitly include python files and requirements
# Makes sure only needed files are uploaded

# Ignore everything
*
# Add current directory back, gcloud won't work without this!
!.

# Include python files in the base, api and cloud function level directories
!/requirements.txt
!/main.py
!/combocurve
!/combocurve/**/*

!/cloud_functions
!/cloud_functions/*.py
!/cloud_functions/rollUp
!/cloud_functions/rollUp/*.py
