.headers-list {
	height: calc(100% - 245px);
	overflow-y: auto;

	ul {
		padding: 0;

		li {
			padding: 0;
			display: block;

			.input-controls {
				padding: 10px 0;
				display: flex;
				justify-content: space-between;

				.header-label,
				.delete-wrapper {
					width: 100%;
					flex: 1;
				}

				.header-label {
					line-height: 40px;
					margin-right: 24px;
				}

				.delete-wrapper {
					text-align: right;
				}
			}
		}
	}
}
