# Ignore all files and then explicitly include python files and requirements
# Makes sure only needed files are uploaded

# Ignore everything
*

!/app.py
!/pyproject.toml
!/poetry.lock
!/combocurve

!/cloud_runs/external_api_import/*.py
!/cloud_runs/external_api_import/poetry.lock
!/cloud_runs/external_api_import/pyproject.toml
