@import '@/global-styles/vars.scss';

@mixin mui-custom-color($color, $color-opaque, $color-dark: darken($color, 15%)) {
	&:global([class*='MuiButton-text']) {
		color: $color;
		&:hover {
			background-color: $color-opaque;
		}
	}

	&:global([class*='MuiButton-outlined']) {
		color: $color;
		border-color: $color-opaque;
	}

	&:global([class*='MuiButton-contained']) {
		background-color: $color;
		&:hover {
			background-color: $color-dark;
		}
	}

	&:global([class*='MuiIconButton-root']) {
		color: $color;
		&:hover {
			background-color: $color-opaque;
		}
	}

	&:global([class*='MuiIcon-root']) {
		color: $color;
		&:hover {
			background-color: $color-opaque;
		}
	}
}

.error {
	@include mui-custom-color(#f44336, $warning-opaque);
}

.warning {
	@include mui-custom-color(#f7a45d, $warning-alternative-opaque);
}

.purple {
	@include mui-custom-color(#9966ff, $purple-opaque);
}
