# Ignore all files and then explicitly include python files and requirements
# Makes sure only needed files are uploaded

# Ignore everything
*

!/app.py
!/combocurve
!/poetry.lock
!/pyproject.toml

!/cloud_runs/merge_pdf/*.py
!/cloud_runs/merge_pdf/poetry.lock
!/cloud_runs/merge_pdf/pyproject.toml
